/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-title img{
    max-width: 80%;
}


hr{
    margin-top: 12px !important;
    margin-bottom: 6px !important;
}

.img-responsive{
    margin: 30px 0;
}
/**
 * Menu
 */

#menu a{
    margin-left: 5px;
}

#facebook{
    height: 48px;
    width: 48px;
    background: url(../assets/img/facebook.png) no-repeat;
    display:inline-block;
    float: left;
}

#facebook:hover{
    height: 48px;
    width: 48px;
    background: url(../assets/img/facebookhover.png) no-repeat;
    display:inline-block;
    float: left;
}

#site{
    height: 48px;
    width: 48px;
    background: url(../assets/img/site.png) no-repeat;
    display:inline-block;
    float: left;
}

#site:hover{
    height: 48px;
    width: 48px;
    background: url(../assets/img/sitehover.png) no-repeat;
    display:inline-block;
    float: left;
}

@include media-query($on-palm) {
    #facebook{
        height: 48px;
        width: 48px;
        background: url(../assets/img/facebookhover.png) no-repeat;
        display:inline-block;
        float: left;
    }
    #site{
        height: 48px;
        width: 48px;
        background: url(../assets/img/sitehover.png) no-repeat;
        display:inline-block;
        float: left;
    }
}


.site-nav {
    float: right;
    line-height: 56px;
    margin-top:15px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        padding-bottom: 10px;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.col-md-4{
    background-color: $background-color-post ;
    padding: 15px;
    margin: 10px;
    width: 31% !important;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    background: url(../assets/img/city.png) no-repeat;
    background-size:contain;
    background-position: bottom right;
    min-height: 990px;
    position: bottom;



}


.page-heading {
    font-size: 44px;
    font-family: $title-font-post;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        background-color: #fff;
        opacity: 0.7;
        padding: 15px;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: right;
    display: block;
}

.post-link {
    font-family: $title-font-post;
    color: $color-font;
    display: block;
    font-size: 20px;
    text-transform: uppercase;

    :hover{
        text-decoration: none;
    }
}

/**
* Link
*/

a:focus, a:hover {
    color: #000 !important;
    text-decoration: none !important;
}

/**
 * Posts
 */

article{
    background-color: $background-color-post;
    padding: 10px 25px;
}


.post-header {
    
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
